<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }} " type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    <title>Passagens ADA</title>
    <script src="{{ url_for('static', filename='relogio.js') }}"></script>

</head>

<body onload="startTime()">
    <header>

        <div class="logo">
            <img id="logotipo" src="{{ url_for('static', filename='logo_css_white_400.png') }}">
        </div>
        <div class="titulo">
            <h1 class="titulo-principal"></h1>
            <h2 class="clock" id="clock"></h2>
        </div>
    </header>
    <div>
        <div class="autoajust">
            <div class="bloco">
                <div class="pass">
                    <h1>
                        {{ passagens_et1[0].replace('Nome da ADA:','') }}
                    </h1>
                    <ol>
                        {%for item in passagens_et1[1:]%}
                        <li>{{item}}</li>
                        {%endfor%}
                    </ol>
                </div>

                <div class="status">
                    <ol>
                        {% if (status_et1[1] < 65.0)%}
                        <li>
                            Temperatura do Processador: <strong style="color:green ;">{{status_et1[1]}}ºC</strong>
                        </li>
                        {% elif (status_et1[1] >= 65.0 and status_et1[1] < 75) %}
                        <li>
                            Temperatura do Processador: <strong style="color:yellow ;">{{status_et1[1]}}ºC</strong>
                        </li>
                        {% elif (status_et1[1] >= 75.0) %}
                        <li>
                            <strong style="color:red ;font-size: 20px; ">Temperatura do Processador:
                                {{status_et1[1]}}ºC</strong>
                        </li>

                        {%endif%}

                        {% if status_et1[2] < 70 %}
                        <li>
                            SSD Utilizado: <strong style="color:green ;">{{status_et1[2]}}%</strong>
                        </li>
                        {% else %}
                        <li>
                            <strong style="color:red ;font-size: 20px; ">SSD Utilizado: {{status_et1[2]}}%</strong>
                        </li>
                        {%endif%}

                        {% if status_et1[3] == 'AZ075.00 EL00.00' %}
                        <li>
                            Posição Atual da Antena: <strong style="color: green ;">{{status_et1[3]}}</strong>
                        </li>
                        {% else %}
                        <li>
                            Posição Atual da Antena: <strong style="color: yellow;">{{status_et1[3]}}</strong>
                        </li>
                        {%endif%}

                    </ol>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <p class="copyright">&copy; Copyright CRIAR Space Systems - 2020</p>
    </footer>
    </div>

    <script src="{{ url_for('static', filename='status.js') }}"></script>
</body>


</html>