<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }} " type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    <title>Status DATASAT</title>
    <script src="{{ url_for('static', filename='relogio.js') }}"></script>


</head>

<body id="body" onload="startTime()">
    <header class="divtitulo">
        <img class="logo" id="logotipo" src="{{ url_for('static', filename='logo_css_white_400.png') }}">
        <div class="titulo">
            <h1 class="titulo-principal"></h1>
            <h2 class="clock" id="clock"></h2>
        </div>
    </header>
    <main>
        <div id="InicioBlocos" class="autoajust">
        </div>

    </main>
    <footer>
        <p class="copyright">Space Systems &copy; 2020</p>
    </footer>
    </div>

    <script src="{{ url_for('static', filename='status.js') }}"></script>
    <script src="{{ url_for('static', filename='mobile.js') }}"></script>
    <script src="{{ url_for('static', filename='request_status_geral.js') }}"></script>

</body>


</html>